<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-demo-homepage</title>
    <link rel="stylesheet" href="../css/1223homepage-try.css">
</head>

<body>
    <div>
        <!-- 背景图片 -->
        <div id="screen-background">
            <div id="demo-title">AI TRPG</div>
            <div id="demo-little-title">欢迎来到跑团新时代</div>
            <!-- <button id="start-button">quick start</button> -->
            <div id="start-button">
                <div id="start-button-text">Quick Start</div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("start-button").onclick = function () {
            window.location.href = "/storycontextpage";
        };//点击start-button按钮后跳转到1223storycontext-try.html
    </script>
</body>

</html>