<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-demo-storycontext</title>
    <link rel="stylesheet" href="../css/1223storycontext-try.css">
</head>

<body>
    <div id="screen-background">
        <div id="story-context">
            <p id="story-context-tltle">故事背景</p>
            <div id="story-context-text">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道格拉斯·金博尔居住在密歇根州，阿诺兹堡市，艾尔斯伯里大街218号的一栋小屋内.
                他是一名离群索居的中年人，书籍和阅读是他生命的全部意义。他在他的书房里读书，他在床上读书，他在教堂里阅读圣经，
                并且他渐渐养成了在家附近的坟地读书的习惯。他会坐在一处特定的低矮墓碑上阅读，一坐期是若干小时。某天晚上，入夜之后他依然沉浸在书本之中。朗晃的满月挂上天空，而道格拉斯注意到那件最诡异的事。在他左侧的一块石板自行滑动开来，一头奇怪生物从中探出头来，发出轻发地叫声。这段奇妙的友谊以此为开端，持续了五年之久.
                直到有一天，道格拉斯跟随他的朋友走进了属于食尸鬼的昏暗世界。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自此之后，他一直满足地定居在那里。
                一年过后，道格拉斯养成了新的生活习惯。他的样貌也有细微改变，并且饮食口味大易于常人。他的读书时间，也被安排到晚上。但是同一批书无法永远满足一位爱书人。一天晚上，道格拉斯闯入自己的旧居，并取回了部分他心爱的书籍。这处旧居目前己归属于道格拉斯的侄子托马斯·金博尔。如今，当夜晚降临时，道格拉斯会坐在他小而低罐的坟上，静静地阅读书籍。但这些书也不多他读上太久。即便是现在，他也在计划去取回更多藏书。
            </div>
        </div>
        <div id="joingame-button">
            <div id="joingame-button-text">Join the Game</div>
        </div>
    </div>

    <script>
        document.getElementById("joingame-button").onclick = function () {
            window.location.href = "/characterselection";
        };//点击按钮后跳转到1223characterselection-try.html
    </script>
</body>

</html>